/* main settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* container */

.container{
    width: 100%;
    max-width: 1249px;
    margin: 0 auto;
}

/* media queries */

@media only screen and (min-width: 280px) and (max-width: 992px){
    .container{
        width: 100%;
        max-height: 992px;
        margin: 0 0;
    }
}

/* header */

header{
    display: grid;
    grid-template-columns:repeat(14, 1fr);
    background-color: #f6f2f2;
}

header .container{
    grid-column: 2 / span 12;
}

/* navigation */

#header-nav ul{
    margin-top: 29px;
    background-color: #313030;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

#header-nav ul li{
    padding: 30px 14px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.035em;
    transition-property: background-color;
    transition-duration: 0.3s;
}

#header-nav ul li:hover{
    background-color: #ff3f40;
}

/* media queries */

@media only screen and (min-width: 280px) and (max-width: 992px){

    header .container{

    grid-column: 1 / span 14;

    }
    
    }

@media only screen and (min-width: 280px) and (max-width: 992px){
    #header-nav ul{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 280px){
    header{
        grid-template-columns: 100px repeat(12, 1fr) 100px;
    }
    
    #header-nav ul li{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 9px;
    }
}

@media only screen and (min-width: 281px) and (max-width: 400px){
    #header-nav ul li{
        font-size: 10px;
    }
}


/* head content */

.head-content{
    display: grid;
    grid-template-columns:repeat(14, 1fr);
    background-color: #f6f2f2;
}

.head-content .container{
    grid-column: 2 / span 12;
}

.head-content__inner{
    margin: 106px 0;
    grid-column: 2/ span 12;
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-template-rows: repeat(3, auto);
}

.head-content__title{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.head-content__title h1{
    font-size: 54px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.head-content__subtitle{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 15.61px;
    margin: auto 0;
    color: #9a9898;
}

.head-content__subtitle p{
    margin-top: 10px;
}

.head-content__button-area{
    margin-top: 40px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.button{
    width: 200px;
    text-align: center;
    font-weight: 600;
    padding: 16px 0;
    background-color: #ff2d2d;
    border: 2px solid #ff2d2d;
    color: #fff;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.button:hover{
    background-color: #fff;
    color: #ff2d2d;
}

.head-content__video{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin: auto;
    margin-left: 100px;
}

.head-content__video img{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 35px #b4b4b4;
}

/* media queries */

@media only screen and (min-width: 280px) and (max-width: 1024px){

    .head-content .container{
    grid-column: 1 / span 14;
    }
    
    .head-content__inner{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto) 1fr;
    }
    
    .head-content__title h1{
        font-size: 54px;
    }

    .head-content__subtitle{
        font-size: 9px;
        width: 30%;
    }

    .head-content__video{
        margin: 0;
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        margin-top: 40px;
    }

    .head-content__video img{
        width: 550px;
        height: auto;
    }

    }

@media only screen and (max-width: 280px){
    .head-content{
        grid-template-columns: 100px repeat(12, 1fr) 100px;
    }
}

@media only screen and (max-width: 300px){
    .head-content__inner{
        margin: 50px 0;
    }
    .head-content__title h1{
        font-size: 28px;
    }

    .head-content__video img{
        width: 230px;
        height: auto;
    }
}

@media only screen and (max-width: 400px){
    .head-content__inner{
        margin: 30px 0;
    }

    .head-content__title h1{
        font-size: 28px;
    }

    .head-content__subtitle{
        width: 100%;
        font-size: 14px;
    }

    .head-content__video img{
        width: 300px;
        height: auto;
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
    .head-content__inner{
        margin: 30px 0;
    }
    .head-content__title h1{
        font-size: 40px;
    }

    .head-content__subtitle{
        width: 100%;
        font-size: 15px;
    }

    .head-content__video img{
        width: 400px;
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .head-content__inner{
        margin: 30px 0;
    }
    .head-content__title h1{
        font-size: 60px;
    }

    .head-content__subtitle{
        width: 100%;
        font-size: 25px;
    }

    .head-content__video img{
        width: 500px;
        height: auto;
}
}

/* features */

.features{
    display: grid;
    grid-template-columns:repeat(14, 1fr);
}

.features .container{
    grid-column: 2 / span 12;
}

.features__inner{
    margin: 112px 0;
    display: grid;
    grid-template-columns: 502px 1fr;
    gap: 0 75px;
}

.features__inner__text{
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.features__title{
    grid-row: 1 / 2;
    margin: 0;
}

.features__subtitle{
    grid-row: 2 / 3;
    margin: 36px 0;
}

.features__button-area{
    grid-row: 3 / 4;
}

.features__title h2{
    color: #585858;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
}

.features__subtitle p{
    font-size: 1em;
}

.features__inner__list{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 24px;
}

.features__managment{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.features__design{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.features__logo{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.features__animation{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.features__inner__list__elem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature__inner__elem__title h3{
    margin: 20px 0;
    color: #737373;
    font-size: 24px;
    font-weight: 600;
}

.feature__inner__elem_subtitle{
    
    color: #737373;
    font-size: 16px;
}

