*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* container */

.container{
    width: 100%;
    max-width: 1249px;
    margin: 0 auto;
    grid-column: 2 / span 12;
}

/* media queries */

@media only screen and (min-width: 280px) and (max-width: 992px){
    .container{
        grid-column: 1 / span 14;
    }
}

/* header */

header{
    display: grid;
    grid-template-columns: 150px repeat(12, 1fr) 150px;
    background-color: #f6f2f2;
}

/* navigation */

#header-nav ul{
    margin-top: 29px;
    background-color: #313030;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

#header-nav ul li{
    padding: 30px 14px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.035em;
    transition-property: background-color;
    transition-duration: 0.3s;
}

#header-nav ul li:hover{
    background-color: #ff3f40;
}

/* media queries */

@media only screen and (min-width: 280px) and (max-width: 992px){
    #header-nav ul{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 280px){
    header{
        grid-template-columns: 100px repeat(12, 1fr) 100px;
    }
    
    #header-nav ul li{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 9px;
    }
}

@media only screen and (min-width: 281px) and (max-width: 400px){
    #header-nav ul li{
        font-size: 10px;
    }
}


/* head content */

.head-content{
    display: grid;
    grid-template-columns: 150px repeat(12, 1fr) 150px;
    background-color: #f6f2f2;
}

.head-content__inner{
    margin: 106px 0;
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-template-rows: repeat(3, auto);
}

.head-content__title{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.head-content__title h1{
    font-size: 54px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.head-content__subtitle{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 15.61px;
    margin: auto 0;
    color: #9a9898;
}

.head-content__subtitle p{
    margin-top: 10px;
}

.head-content__button-area{
    margin-top: 40px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.button{
    width: 200px;
    text-align: center;
    font-weight: 600;
    padding: 16px 0;
    background-color: #ff2d2d;
    border: 2px solid #ff2d2d;
    color: #fff;
    border-radius: 5px;
    transition-property: background-color color;
    transition-duration: 0.5s;
}

.button:hover{
    background-color: #fff;
    color: #ff2d2d;
}

.head-content__video{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin: auto;
    margin-left: 100px;
    box-shadow: 0px 0px 35px #b4b4b4;
}

.head-content__video img{
    width: 450px;
    height: auto;
}